/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#cas form {display:block; margin:0; padding:0; float:left; background:#fff; font-family: Verdana, Arial, Geneva,  Helvetica, sans-serif;}
    #cas fieldset {border:0; margin:0; padding:0; float:left; clear:none; width:auto;}
        #cas fieldset legend {display:none;}

        #cas #login {margin:0; padding:25px 25px 65px 25px; width:300px; min-height:15em; background:#fff; position:relative; box-shadow: 3px 3px 5px #dddddd; -moz-box-shadow: 3px 3px 5px #dddddd; -webkit-box-shadow: 3px 3px 5px #dddddd; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border: 2px solid #cacaca;}
        #cas #login:before {line-height:0.1; font-size:1px; background:transparent url("../images/key-point_tr.gif") no-repeat top right; margin:-15px -15px 0 -15px; height:15px; display:block; content:url("../images/key-point_tl.gif");}
        /*#cas #login:after {display:block; clear:both; padding-top:15px; line-height:0.1; font-size:1px; content:url("../images/key-point_bl.gif"); margin:-15px; height:8px; background:transparent url("../images/key-point_br.gif") scroll no-repeat bottom right;}*/
            #cas #login h2 {display:none; border-bottom:1px solid #ddd; padding:3px 0; font-size:17px; color:#444;}
            #cas #login label {font-size:14px; padding-bottom:5px; font-weight:bold;}
            #cas #login label span.accesskey {text-decoration:underline;}
            #cas #login #userName, #cas #login #password {margin-bottom:7px; letter-spacing:1px; border: 1px solid #444; background-color:#fff; box-shadow: inset 0px 2px 3px #cccccc; -moz-box-shadow: inset 0px 2px 3px #cccccc; -webkit-box-shadow: inset 0px 2px 3px #cccccc; }
            #cas #login .check input {position:relative; left:-4px; height:auto;}
            #cas #login .check label {float:none; xwidth:auto; font-size:10px; color:#444; font-weight:normal;}
            #cas #login .btn-row {position:relative; padding:10px 0 10px 0;}
            * html #cas #login .btn-row {top:5px;} /* IE6 */
            #cas #login .btn-submit {font-size:13px; cursor:pointer; float:none; clear:none; display:inline; padding:12px 20px 12px 20px; letter-spacing:0; border: 1px solid #444444; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background: #d1d1d1 url(../images/gradient.png) left top repeat-x;}
            #cas #login .btn-submit:hover {background-image:none;}
            * html #cas #login .btn-submit {background:#ffd;}
            #cas #login .btn-reset {display:none; float:none; clear:none; margin-left:5px; border:0; border-left:1px solid #ddd; background:transparent; color:#777; text-transform:lowercase; letter-spacing:0;}
            #cas #login .help-links ul {margin:15px 0 0 0; padding:0;}
            #cas #login .help-links li {list-style:none; margin:0; padding:0 0 8px 0;}
            #cas #login .help-links li a {color:#005070;}
    #cas #sidebar {padding:0 15px 18px 15px; margin-left:370px;}
        #cas #sidebar h3 {font:normal 400 14px Georgia, "Times New Roman", Times, serif; color:#444; margin:18px 0 0; padding:6px 0 3px;}
        #cas #sidebar p {margin:0 0 18px; padding:0; color:#555; font-size:1.1em;}
/*
        #cas #list-languages ul {margin:0; padding:0; line-height:1.5; list-style:none;}
            #cas #list-languages ul li {display:inline; padding:0 5px; border-right:1px solid #ccc;}
            #cas #list-languages ul li.first {padding-left:0;}
            #cas #list-languages ul li.last {padding-right:0; border:0;}*/

#cas #footer p {margin:0 0 1em 0; padding:0;}

/* RESET --------------------------------- */
/* reset some properties for elements since defaults are not crossbrowser - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html,body,div,span,h1,h2,h3,p,a,img,ul,li,fieldset,form,label,legend {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
:focus {outline:0;}
ul {list-style:none; font-size:1.1em; padding:0 0 18px 40px;}

/* browser default font-size is 16px which is too big so we make it 16px x 62.5% = 10px */
    body {font:normal 400 62.5%/1.0 Verdana, sans-serif; min-width:960px; background:#fff; color:#444;}
    a {color: #005070;}
/*
 - used to clear or contain floats within a non-floated container
 - this ruleset is used by UAs that handle :after - not IE - see ie_cas.css for IE fix
http://www.positioniseverything.net/easyclearing.html and http://www.ejeliot.com/blog/59 */
#header:after, #content:after, #footer:after, .clearfix:after {content:"."; clear:both; display:block; height:0; visibility:hidden;}


/* HEADER --------------------------------- */
#header {position:relative; margin:30px 0 0 0; padding:10px 10px 10px 200px; font-size:36px; font-weight:normal;  border-top: 1px solid #eaeaea;  border-bottom: 1px solid #ccc; background:#eaeaea url(../images/main-gradient.png) bottom left repeat-x;}
    #header h1 {}
    #header .logo span {display:none;}
    #header .logo {position:absolute; left:25px; top:-18px; background:url(../images/logo.png) left top no-repeat scroll; width:213px; height:92px;}
    #header h1 {text-shadow: 1px 1px 2px #cccccc; color:#005070; font-size:24px; font-weight:bold;}
    #header h2 {margin:0; padding:10px 0 0 0; color:#686868; font-size:14px; font-weight:bold;}
/* CONTENT --------------------------------- */
#content.fl-container-flex.fl-container-flex {width:auto;}
#content {overflow:visible; clear:both; padding:1px 0; margin:30px 25px 60px 25px;}
    #content h2 {margin:0 0 .5em 0; font-size:1.3em; font-weight:400; color:#000; xborder-bottom:1px solid #eee; padding:3px 0; xletter-spacing:-1px;}
    #content h3 {font:1em arial, helvetica, sans-serif; font-weight:400;}

    #content p {line-height:1.5; font-size:1.1em; padding:0 0 18px;}

/* FOOTER --------------------------------- */
#footer {clear:both; position:relative; margin:0 25px 1em; border-top:1px solid #ccc; padding:0 0 1px 0; background:transparent; color:#444;}
    #footer img#logo {position:absolute; right:0; top:0;}
    #footer div {clear:left; margin:0 5px .5em; overflow:hidden; padding-top:1em;}

/* MESSAGES --------------------------------- */
/*
.info, .errors, .success {clear:both; margin:18px 0; padding:20px 20px 20px 100px; font-size:10px; line-height:1.5;}
*/

.info, .errors, .success {margin:0 90px 0 25px; padding:0; width:auto; background:#eaeaea url(../images/main-gradient.png) top left repeat-x !important; position:relative; box-shadow: 3px 3px 5px #dddddd; -moz-box-shadow: 3px 3px 5px #dddddd; -webkit-box-shadow: 3px 3px 5px #dddddd; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; border: 2px solid #cacaca;}
.msg-inner {padding-left:105px;}
.msg-content {padding:3em; background:#fff; border-top-right-radius:10px; -moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px;  border-bottom-right-radius:10px; -moz-border-radius-bottomright:10px; -webkit-border-bottom-right-radius:10px;}
#content .msg-content h2 {font-size:24px; line-height:24px; font-weight:bold; margin:0 0 5px 0; padding:0;}
.success .msg-inner {background: url(../images/msg-success.png) 25px center no-repeat;}
.errors .msg-inner {background: url(../images/msg-errors.png) 25px center no-repeat;}

.info {border:1px dotted 008;    background:#eff url(../images/info.gif) no-repeat 20px 18px; color:#008;}
    #content .success h2 {color: #6dbf64 !important;}
    #content .errors h2 {color:#e6797f !important;}


/* static messages */
#content #msg p {padding:0;}

/* FORMS --------------------------------- */
    label {cursor:pointer; font-size:1.1em; color:#777;}
    input {border-width:1px; font-size:1.1em; color:#000; padding:3px; min-height:1.5em;}
    input#warn {border:0; min-height:0; padding:0;}

    .fm-v div.row {float:left; margin:0; padding:.5em 0; width:100%;}
    .fm-v div.row label {float:left; width:100%; line-height:1.5;}
    .fm-v div.row input.btn-submit {display:block; margin:0;}


/* highlight errors */
    input.error {background:#FFEFEF; color:#b00;}

/* mark as required */
    .required {background:#ffd;}
    .error {background:#ffefef;}
    input.required {border-width:1px;}